@mixin font-base($font-family, $font-size, $font-weight, $color: $c-black) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin flx($flx-dct: row) {
    display: flex;
    flex-direction: $flx-dct;
}

@function toRem($size) {
    @return $size / 16px * 1rem;
}
