.about {
  display: grid;
  grid-area: about;
  grid-template-areas:
    "fresh-salad"
    "chef-skills"
    "app";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  padding: toRem(50px) toRem(60px);

  &__fresh-salad {
    @include flx();
    align-items: center;
    justify-content: space-between;
    grid-area: fresh-salad;
  }

  &__chef-skills {
    @include flx();
    align-items: center;
    justify-content: space-between;
    grid-area: chef-skills;
  }

  &__info {
    padding: toRem(100px);
    position: relative;

    h3 {
      @include font-base($font-default, toRem($font-size-subtitle), $font-weight-max);
      @include txt-shadow();
      margin: toRem(30px) 0;
      max-width: 70%;
    }

    p {
      @include font-base($font-default, toRem($font-size-text), $font-weight-min, $c-gray);
      @include txt-shadow();
      line-height: toRem(30px);
    }
  }

  &__image {
    height: 550px;
    padding: toRem(20px) toRem(30px);

    & img {
      height: 100%;
      width: auto;
    }
  }

  &__app {
    grid-area: app;
    display: grid;
    grid-template-areas: "app info";
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto;

    & .app {
      &__demo {
        padding: toRem(100px) 0;
        justify-self: center;

        & img {
          width: auto;
          height: 550px;
        }
      }

      &__info {
        align-self: center;
        padding: 0 toRem(60px);

        h3 {
          @include font-base($font-default, toRem($font-size-subtitle), $font-weight-max);
          @include txt-shadow();
          margin: toRem(30px) 0;
          max-width: 70%;
        }

        p {
          @include font-base($font-default, toRem($font-size-text), $font-weight-min, $c-gray);
          @include txt-shadow();
          margin: toRem(20px) 0;
          line-height: toRem(30px);
        }
      }

      &__download {
        display: flex;
        max-width: 250px;
        cursor: pointer;
        align-self: center;
      }
    }
  }
}
