.menu {
  align-items: stretch;
  column-gap: toRem(10px);
  display: grid;
  grid-area: menu-home;
  grid-template-areas: "menu-intro salad-pic";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  justify-items: center;
  padding: toRem(50px) toRem(60px);

  &__intro {
    @include flx(column);
    grid-area: menu-intro;
    justify-content: flex-start;
    padding: toRem(10px) toRem(20px);

    h3 {
      @include font-base($font-default, toRem($font-size-subtitle - 10px), $font-weight-mid);
      @include txt-shadow();
    }

    p {
      @include font-base($font-default, toRem($font-size-text), $font-weight-min, $c-gray);
      @include txt-shadow();
      margin: toRem(10px) 0 toRem(150px) 0;
    }

    & .menu {
      &__title {
        @include font-base($font-default, toRem($font-size-title), $font-weight-max);
        @include txt-shadow();
        margin: 0.25em 0;
        text-align: start;
      }

      &__subtitle {
        @include font-base($font-default, toRem($font-size-subtitle - 10px), $font-weight-min, $c-gray);
        @include txt-shadow();
        margin: 0.5em 0;
        width: 70%;
      }

      &__button {
        @include font-base($font-default, toRem($font-size-btn), $font-weight-mid, $c-white);
        align-self: flex-start;
        background: $c-black;
        border-radius: toRem(100px) toRem(100px) toRem(5px) toRem(100px);
        box-shadow: toRem(2px) toRem(50px) toRem(30px) toRem(-10px) rgba($c-gray, 0.5);
        border: none;
        cursor: pointer;
        height: toRem(60px);
        margin: toRem(15px) 0;
        position: relative;
        text-align: center;
        width: toRem(220px);

        & span {
          left: toRem(25px);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        & img#arrow-rght {
          position: absolute;
          right: toRem(15px);
          top: 50%;
          transform: translate(-50%, -50%);
          vertical-align: middle;
        }
      }
    }
  }

  &__image {
    grid-area: salad-pic;

    & img {
      width: auto;
      max-height: 90vh;
    }
  }
}
