.salad {
  align-items: stretch;
  display: grid;
  grid-area: salad-menu;
  grid-template-areas: "options intro";
  grid-template-columns: 3fr 2.5fr;
  grid-template-rows: auto;

  &__menu {
    @include flx();
    align-items: center;
    grid-area: options;
    justify-content: center;

    & .menu {
      &__item {
        justify-self: center;
        list-style: none;

        &__card {
          background: $bg-card;
          border-bottom-left-radius: 550px;
          border-bottom-right-radius: 550px;
          border-top-left-radius: 600px;
          border-top-right-radius: 600px;
          box-shadow: toRem(0px) toRem(5px) toRem(25px) toRem(2px) rgba($c-gray, 0.5);
          display: grid;
          grid-template-areas: "card-header" "card-main";
          grid-template-rows: 2.5fr 2fr;
          height: 320px;
          margin: 0 toRem(50px);
          width: 220px;

          & .card {
            &__header {
              grid-area: card-header;
              position: relative;
            }

            &__image {
              border-radius: 50%;
              box-shadow: 0 10px 25px $c-gray;
              left: -20px;
              margin-bottom: 1.5em;
              position: absolute;
              top: -80px;
              width: 250px;
              z-index: 10;
            }

            &__main {
              $font-card: 16px;
              align-self: stretch;
              grid-area: card-main;
              position: relative;
              text-align: center;

              h3 {
                @include font-base($font-default, toRem($font-card + 2px), $font-weight-max);
                margin: toRem(25px) 0;
              }

              p {
                @include font-base($font-default, toRem($font-card), $font-weight-mid, $c-gray);
                margin: toRem(15px) 0;
              }

              h4 {
                @include font-base($font-default, toRem($font-card), $font-weight-mid);
                margin: toRem(15px) 0;
              }

              & span {
                @include font-base($font-default, toRem($font-card), $font-weight-mid, $c-white);
                background: $c-black;
                border-radius: 50%;
                bottom: toRem(-10px);
                box-shadow: toRem(0px) toRem(10px) toRem(10px) toRem(2px) rgba($c-gray, 0.2);
                cursor: pointer;
                display: inline-block;
                height: 25px;
                line-height: normal;
                position: absolute;
                transform: translateX(-50%);
                vertical-align: middle;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }

  &__intro {
    align-self: center;
    grid-area: intro;
    padding: toRem(30px) toRem(60px);

    h2 {
      @include font-base($font-default, toRem($font-size-subtitle), $font-weight-max);
      @include txt-shadow();
      letter-spacing: toRem(2px);
      margin: toRem(10px) 0;
      max-width: 80%;
    }

    p {
      @include font-base($font-default, toRem($font-size-text), $font-weight-min, $c-gray);
      @include txt-shadow();
      letter-spacing: toRem(1.25px);
      margin-top: toRem(25px);
    }
  }
}
