@import "./utils/utils", "./mixins/mixins";

@import "./_partials/header", "./_partials/salads", "./_partials/about", "./_partials/contact";

$bg-default: #f5f5f5;
$font-default: "Poppins", sans-serif;
$font-size-title: 4em;
$font-size-subtitle: 1.75em;
$font-size-min: 1em;
$font-weight-min: 300;
$font-weight-mid: 500;
$font-weight-max: bolder;
$c-black: #000;
$c-white: #f8f8f2;
$c-gray: #a8a8a5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-default;
  display: grid;
  font-family: $font-default;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "menu-home"
    "salad-menu"
    "about"
    "contact";
  align-items: stretch;
}
