@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.menu {
  align-items: stretch;
  column-gap: 0.625rem;
  display: grid;
  grid-area: menu-home;
  grid-template-areas: "menu-intro salad-pic";
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  padding: 1.25rem 1.875rem;
}
.menu__intro {
  display: flex;
  flex-direction: column;
  grid-area: menu-intro;
  justify-content: flex-start;
  padding: 0.625rem 1.25rem;
}
.menu__intro h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.menu__intro p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #a8a8a5;
  margin: 0.625rem 0 9.375rem 0;
}
.menu__intro .menu__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: bolder;
  color: #000;
  margin: 0.5em 0;
  text-align: start;
}
.menu__intro .menu__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #a8a8a5;
  line-height: 30px;
  margin: 0.5em 0;
  text-align: start;
}
.menu__intro .menu__button {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #f8f8f2;
  align-self: flex-start;
  background: #000;
  border-radius: 100px 100px 5px 100px;
  box-shadow: 2px 50px 30px -10px gray;
  border: none;
  cursor: pointer;
  height: 60px;
  margin: 0.5em 0;
  position: relative;
  text-align: center;
  width: 220px;
}
.menu__intro .menu__button span {
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.menu__intro .menu__button img#arrow-rght {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.menu__image {
  grid-area: salad-pic;
  width: auto;
  max-height: 90vh;
}

.salad {
  grid-area: salad-menu;
  padding: 3.125rem 0;
  display: grid;
  grid-template-areas: "options intro";
  grid-template-columns: 3fr 2fr;
  align-items: stretch;
}
.salad__menu {
  grid-area: options;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.salad__menu .menu__item {
  list-style: none;
  margin: 1.25rem;
  justify-self: center;
}
.salad__menu .menu__item__card {
  background: #ffffff;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  display: grid;
  margin: 0 3.125rem;
  grid-template-areas: "card-header" "card-main";
  grid-template-rows: 2fr 1fr;
  width: 250px;
  height: 350px;
}
.salad__menu .menu__item__card .card__header {
  grid-area: card-header;
  position: relative;
  width: auto;
}
.salad__menu .menu__item__card .card__image {
  border-radius: 50%;
  box-shadow: 0 10px 25px gray;
  margin-bottom: 1.5em;
  position: absolute;
  top: -50px;
  width: 250px;
}
.salad__menu .menu__item__card .card__main {
  grid-area: card-main;
  margin: 1em 0;
  position: relative;
  text-align: center;
}
.salad__menu .menu__item__card .card__main span {
  background: black;
  border-radius: 50%;
  bottom: -30px;
  color: aliceblue;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  height: 25px;
  line-height: normal;
  position: absolute;
  transform: translateX(-50%);
  vertical-align: middle;
  width: 25px;
}
.salad__intro {
  grid-area: intro;
  align-self: center;
}
.salad__intro h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  font-weight: bolder;
  color: #000;
  letter-spacing: 0.125rem;
}
.salad__intro p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #a8a8a5;
  letter-spacing: 0.09375rem;
  line-height: 1.25rem;
}

section.about {
  grid-area: about;
}

section.contact {
  grid-area: contact;
}

footer.footer {
  grid-area: footer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  display: grid;
  font-family: "Poppins", sans-serif;
  grid-template-rows: auto 2fr 1fr 1fr 1fr;
  grid-template-areas: "menu-home" "salad-menu" "about" "contact" "footer";
  padding: 1.25rem 1.875rem;
  align-items: stretch;
}

/*# sourceMappingURL=main.css.map */
