@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.menu {
  align-items: stretch;
  column-gap: 1.25rem;
  display: grid;
  grid-area: menu-home;
  grid-template-areas: "menu-intro salad-pic";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  justify-items: center;
  padding: 3.125rem 3.75rem;
}
.menu__intro {
  display: flex;
  flex-direction: column;
  grid-area: menu-intro;
  justify-content: flex-start;
  padding: 0.625rem 1.25rem;
}
.menu__intro h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #1b1b1b;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
}
.menu__intro p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #727272;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 0.625rem 0 9.375rem 0;
}
.menu__intro .menu__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.875rem;
  font-weight: bolder;
  color: #1b1b1b;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 0.25em 0;
  text-align: start;
}
.menu__intro .menu__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #727272;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 0.5em 0;
  width: 70%;
}
.menu__intro .menu__button {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #f8f8f2;
  align-self: flex-start;
  background: #1b1b1b;
  border-radius: 6.25rem 6.25rem 0.3125rem 6.25rem;
  box-shadow: 0.125rem 3.125rem 1.875rem -0.625rem rgba(114, 114, 114, 0.5);
  border: none;
  cursor: pointer;
  height: 3.75rem;
  margin: 0.9375rem 0;
  position: relative;
  text-align: center;
  width: 13.75rem;
}
.menu__intro .menu__button span {
  left: 1.5625rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.menu__intro .menu__button img#arrow-rght {
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.menu__image {
  grid-area: salad-pic;
}
.menu__image img {
  width: auto;
  max-height: 90vh;
}

.salad {
  align-items: stretch;
  display: grid;
  grid-area: salad-menu;
  grid-template-areas: "options intro";
  grid-template-columns: 3fr 2.5fr;
  grid-template-rows: auto;
  padding: 3.125rem 3.75rem;
}
.salad__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: options;
  justify-content: center;
}
.salad__menu .menu__item {
  justify-self: center;
  list-style: none;
}
.salad__menu .menu__item__card {
  background: #ffffff;
  border-bottom-left-radius: 550px;
  border-bottom-right-radius: 550px;
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  box-shadow: 0rem 0.3125rem 1.5625rem 0.125rem rgba(114, 114, 114, 0.5);
  display: grid;
  grid-template-areas: "card-header" "card-main";
  grid-template-rows: 2.5fr 2fr;
  height: 320px;
  margin: 0 3.125rem;
  width: 220px;
}
.salad__menu .menu__item__card .card__header {
  grid-area: card-header;
  position: relative;
}
.salad__menu .menu__item__card .card__image {
  border-radius: 50%;
  box-shadow: 0 10px 25px #727272;
  left: -20px;
  margin-bottom: 1.5em;
  position: absolute;
  top: -80px;
  width: 250px;
  z-index: 10;
}
.salad__menu .menu__item__card .card__main {
  align-self: stretch;
  grid-area: card-main;
  position: relative;
  text-align: center;
}
.salad__menu .menu__item__card .card__main h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: bolder;
  color: #1b1b1b;
  margin: 1.5625rem 0;
}
.salad__menu .menu__item__card .card__main p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #727272;
  margin: 0.9375rem 0;
}
.salad__menu .menu__item__card .card__main h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1b1b1b;
  margin: 0.9375rem 0;
}
.salad__menu .menu__item__card .card__main span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #f8f8f2;
  background: #1b1b1b;
  border-radius: 50%;
  bottom: -0.625rem;
  box-shadow: 0rem 0.625rem 0.625rem 0.125rem rgba(114, 114, 114, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: normal;
  position: absolute;
  transform: translateX(-50%);
  vertical-align: middle;
  width: 25px;
}
.salad__intro {
  align-self: center;
  grid-area: intro;
  padding: 1.875rem 3.75rem;
}
.salad__intro h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.625rem;
  font-weight: bolder;
  color: #1b1b1b;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  letter-spacing: 0.125rem;
  margin: 0.625rem 0;
  max-width: 80%;
}
.salad__intro p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #727272;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  letter-spacing: 0.078125rem;
  margin-top: 1.5625rem;
}

.about {
  display: grid;
  grid-area: about;
  grid-template-areas: "fresh-salad" "chef-skills" "app";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 3.125rem 3.75rem;
}
.about__fresh-salad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: fresh-salad;
}
.about__chef-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: chef-skills;
}
.about__info {
  padding: 6.25rem;
  position: relative;
}
.about__info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.625rem;
  font-weight: bolder;
  color: #1b1b1b;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 1.875rem 0;
  max-width: 70%;
}
.about__info p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #727272;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  line-height: 1.875rem;
}
.about__image {
  height: 550px;
  padding: 1.25rem 1.875rem;
}
.about__image img {
  height: 100%;
  width: auto;
}
.about__app {
  grid-area: app;
  display: grid;
  grid-template-areas: "app info";
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: auto;
}
.about__app .app__demo {
  padding: 6.25rem 0;
  justify-self: center;
}
.about__app .app__demo img {
  width: auto;
  height: 550px;
}
.about__app .app__info {
  align-self: center;
  padding: 0 3.75rem;
}
.about__app .app__info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.625rem;
  font-weight: bolder;
  color: #1b1b1b;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 1.875rem 0;
  max-width: 70%;
}
.about__app .app__info p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #727272;
  text-shadow: 0.3125rem 0.625rem 0.9375rem rgba(114, 114, 114, 0.275);
  margin: 1.25rem 0;
  line-height: 1.875rem;
}
.about__app .app__download {
  display: flex;
  max-width: 250px;
  cursor: pointer;
  align-self: center;
}

.contact {
  grid-area: contact;
  padding: 0.625rem 7.5rem;
}
.contact__reserve {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__reserve h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  color: #727272;
}
.contact__reserve h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.625rem;
  font-weight: 500;
  color: #1b1b1b;
}
.contact__reserve p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #1b1b1b;
  margin-top: 1.25rem;
  width: 60%;
}
.contact__reserve hr {
  margin: 1.875rem 0;
}
.contact__reserve .reserve__button {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #f8f8f2;
  align-self: flex-start;
  background: #1b1b1b;
  border-radius: 0.3125rem 6.25rem 6.25rem 6.25rem;
  box-shadow: 0.125rem 3.125rem 1.875rem -0.625rem rgba(114, 114, 114, 0.5);
  border: none;
  cursor: pointer;
  height: 3.125rem;
  margin: 0.9375rem 0;
  position: relative;
  text-align: center;
  width: 13.75rem;
  align-self: flex-end;
}
.contact__list {
  display: flex;
  flex-direction: row;
  margin: 3.75rem 0;
  justify-content: space-between;
}
.contact__list .list__info h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6875rem;
  font-weight: 500;
  color: #1b1b1b;
  margin: 1.25rem 0;
}
.contact__list .list__info li {
  font-family: "Poppins", sans-serif;
  font-size: 1.1875rem;
  font-weight: 300;
  color: #1b1b1b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  display: grid;
  font-family: "Poppins", sans-serif;
  grid-template-rows: auto 60vh auto auto;
  grid-template-areas: "menu-home" "salad-menu" "about" "contact";
  align-items: stretch;
}

/*# sourceMappingURL=main.css.map */
