@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bg-default: #f5f5f5;
$bg-card: #ffffff;
$font-default: "Poppins", sans-serif;
$font-size-title: 62px;
$font-size-subtitle: 42px;
$font-size-text: 24px;
$font-size-btn: 18px;
$font-size-min: 1em;
$font-weight-min: 300;
$font-weight-mid: 500;
$font-weight-max: bolder;
$c-black: #1b1b1b;
$c-white: #f8f8f2;
$c-gray: #727272;
